RoboBeast.WP8/Service References/RoboServiceClient/RoboService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoboService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.199.100.37:8080/RoboService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.199.100.37:8080/RoboService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.199.100.37:8080/RoboService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RoboBeast.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoboInterface_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IRoboInterface_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IRoboInterface_SendData_InputMessage">
    <wsdl:part name="parameters" element="tns:SendData" />
  </wsdl:message>
  <wsdl:message name="IRoboInterface_IsArduinoConnected_InputMessage">
    <wsdl:part name="parameters" element="tns:IsArduinoConnected" />
  </wsdl:message>
  <wsdl:message name="IRoboInterface_IsArduinoConnected_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsArduinoConnectedResponse" />
  </wsdl:message>
  <wsdl:message name="IRoboInterface_IsKinectConnected_InputMessage">
    <wsdl:part name="parameters" element="tns:IsKinectConnected" />
  </wsdl:message>
  <wsdl:message name="IRoboInterface_IsKinectConnected_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsKinectConnectedResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoboInterface">
    <wsdl:operation name="Register">
      <wsdl:input wsam:Action="http://tempuri.org/IRoboInterface/Register" message="tns:IRoboInterface_Register_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IRoboInterface/RegisterResponse" message="tns:IRoboInterface_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendData">
      <wsdl:input wsam:Action="http://tempuri.org/IRoboInterface/SendData" message="tns:IRoboInterface_SendData_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsArduinoConnected">
      <wsdl:input wsam:Action="http://tempuri.org/IRoboInterface/IsArduinoConnected" message="tns:IRoboInterface_IsArduinoConnected_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IRoboInterface/IsArduinoConnectedResponse" message="tns:IRoboInterface_IsArduinoConnected_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsKinectConnected">
      <wsdl:input wsam:Action="http://tempuri.org/IRoboInterface/IsKinectConnected" message="tns:IRoboInterface_IsKinectConnected_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IRoboInterface/IsKinectConnectedResponse" message="tns:IRoboInterface_IsKinectConnected_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRoboInterface" type="tns:IRoboInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IRoboInterface/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendData">
      <soap:operation soapAction="http://tempuri.org/IRoboInterface/SendData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="IsArduinoConnected">
      <soap:operation soapAction="http://tempuri.org/IRoboInterface/IsArduinoConnected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsKinectConnected">
      <soap:operation soapAction="http://tempuri.org/IRoboInterface/IsKinectConnected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoboService">
    <wsdl:port name="BasicHttpBinding_IRoboInterface" binding="tns:BasicHttpBinding_IRoboInterface">
      <soap:address location="http://10.199.100.37:8080/RoboService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>